body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

    
}

.header  {
    background-color: #1F2937;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 500px;
    padding-bottom: 2%;
}

 .lower {
    display: flex;
    justify-content: space-between;
    gap: 15px; 
    
}

.upper {
    padding-bottom: 70px;
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
}

.logo {
    padding-left: 10%;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    color: #f9faf8;
    font-size: 24px;
    max-width: 50%;

}
ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none; 
    margin: 0% 10% 0% 0%;  
    padding: 1%;
    width: 500px;
}

a {
    flex-shrink: 0;
    color: lightslategrey; 
    text-decoration: none;
    font-size: 20px;
}

.signup {
    padding-left: 10%;
    max-width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
    justify-content: flex-start;
    gap: 15px; 

}

button {
    background-color: #3882f6;
    color: white; 
    text-decoration: none;
    border: none;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 8px;
}

.header img {
    max-width: 30%;
    height: 300px;
    width: 500px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    margin-right: 10%;
    border-radius: 8px;
    border: 4px ridge #3882f6; 

}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    max-height: 500; 
    padding-bottom: 2%
}

.body img{
    width: 300px;
    height: auto;
    border-radius: 8px;
    border: 4px ridge #3882f6; 
}

.bheader{
    padding: 2% 0 2% 0;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.images {
    display: flex;
    justify-content: center;
    gap: 150px; 
    flex-wrap: wrap;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    max-width: 200px;
}

.quote{
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 4% 2% 4% 2%;
    align-items: center;
    max-height: 400px;
}

.words{
    font-style: italic;
    font-weight: 50px;
    align-self: flex-end;
}

.person {
    align-self: flex-end;
    padding-right: 20%;
}

.cta{
    padding: 2% 0 2% 0;
    display: flex;
    background-color: #3882f6;
    margin: 5% 5.5% 5% 5.5%;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid #1F2937;
    gap: 100px; 
}

.container{
    margin: .5%; 
    display: flex;
    flex-direction: column;
}

.cta button {
    font-size: 24px;
    background-color: #3882f6;
    color: white; 
    text-decoration: none;
    border: 2px solid white;
    border-radius: 50%;
    padding: 5px 10px;
}

.footer{
    text-align: center;
    color: #e5e7eb;
    background-color: #1F2937;
    padding: 1%;
}